@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?66031443');
  src: url('../font/fontello.eot?66031443#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?66031443') format('woff'),
       url('../font/fontello.ttf?66031443') format('truetype'),
       url('../font/fontello.svg?66031443#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?66031443#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-th-list:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\2630'; } /* '☰' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-flag:before { content: '\2691'; } /* '⚑' */
.icon-cog-1:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\2713'; } /* '✓' */
.icon-help:before { content: '\2753'; } /* '❓' */
.icon-help-circled:before { content: '\e704'; } /* '' */
.icon-eye-1:before { content: '\e801'; } /* '' */
.icon-address:before { content: '\e723'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-map:before { content: '𞠁'; } /* '\1e801' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-doc-text-inv:before { content: '\e731'; } /* '' */
.icon-pitch:before { content: '\e805'; } /* '' */
.icon-soccer:before { content: '𞠂'; } /* '\1e802' */
.icon-twitter-1:before { content: '\f099'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-globe:before { content: '🌎'; } /* '\1f30e' */
.icon-globe-1:before { content: '𞠆'; } /* '\1e806' */
.icon-video:before { content: '🎬'; } /* '\1f3ac' */
.icon-thumbs-up-1:before { content: '\e804'; } /* '' */
.icon-thumbs-up:before { content: '👍'; } /* '\1f44d' */
.icon-briefcase:before { content: '💼'; } /* '\1f4bc' */
.icon-doc-text:before { content: '📄'; } /* '\1f4c4' */
.icon-camera-1:before { content: '\e800'; } /* '' */
.icon-search-1:before { content: '\e807'; } /* '' */